[0;33m----------------------------- NOTICE --------------------------------[0m

Hey! Welcome to {{ ansible_hostname }}. Before you go further, there is
probably a better way to do what you're trying to do. Check out the
following:

  → Server configuration is managed by Ansible. Check out:
    https://github.com/andrewhowdencom/ansible-playbook-server/
  →

If you are unable to fix what you need with the above, rather than
read or modify the server now, please lodge a ticket with sysadmin.

[0;31mYou should not need to SSH into a server![0m

[0;33m--------------------------- END NOTICE ------------------------------[0m
